beautifulsoup4==4.12.2; python_version=='3.11'
openai==1.42.0; python_version=='3.11'
python-dotenv==1.0.0; python_version=='3.11'
requests==2.31.0; python_version=='3.11'
tqdm==4.66.1; python_version=='3.11'